@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 400px 16px 400px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 18px;
    color: #e5e7eb;

}

a {
    color: #e5e7eb;
    text-decoration: none;

}

h1 {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    padding: 16px;
    justify-content: space-between;
    padding: 150px 400px 150px 400px;
    
}

.hero {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    justify-content: space-between;
    
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-paragraph {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-sign-up {
    display: flex;
    background-color: #3882f6;
    width: 120px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
    color: #f9faf8;
    font-size: 18px;
    align-items: center;

}

img {
    width: 500px;
    height: 300px;
    display: flex;
    

}

.illustrations-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: auto;
    padding-right: 600px;
    padding-left: 600px;
    gap: 40px;
    
}

.information {
    padding: 60px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
}

.illustrations-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.square {
    background: #f9faf8;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    outline: 5px solid #3882f6;
    
}

.i-text {
    text-align: center;
}


.quote-container {
    background-color: #e5e7eb;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 500px 50px 500px;
    gap: 10px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.signature {
    color: #1f2937;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-self: flex-end;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 400px 100px 400px;

}

.ctabox {
    padding: 50px;
    height: 150px;
    width: 800px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.cta-button {
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    outline: 5px solid #f9faf8;
    font-weight: bold;
    height: 40px;
    width: 120px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cta-text {
    color: #f9faf8;
}

.cta-title {
    font-weight: bolder;
    font-size: 22px;
}

.footer-content {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    padding: 16px;
    font-weight: 800;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.3); 
    }